.result-item {
	padding: 20px;
}

a.result-content {
	color: inherit;
	text-decoration: none;
	display: block;
}

.result-img {
	width: 100%;
	height: 0;
	padding-bottom: 150%;
	background: #ccc;
	position: relative;
}

.result-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.result-title {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	padding: 1rem 0 2px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 7px;
}

.result-title .label {
	position: absolute;
	right: 0;
	top: 1rem;
}

.sort-by-block {
	text-align: right;
}

@media (max-width: 1024px) {
	.results-list {
		margin: 0!important;
	}
}

@media (max-width: 767px) {
	.sort-by-block {
		text-align: left;
	}

	.result-item {
		padding: 0!important;
		padding-bottom: 20px!important;
	}
}